/* .navbar {
    background-color: #25252A;
    height: 9em;
    display: flex;
    text-decoration: none;
    line-height: 8em;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */